.header {
    display: flex;
    height: 60px;
    width: 100%;
    flex-direction: row;
    align-content: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    gap: 20px;
    justify-content: center;
    align-content: center;
}